$serif: 'Lora', serif;
$sans: 'Ubuntu', sans-serif;
$serif2: 'Vesper Libre', serif;
$sans2: 'Oxygen', sans-serif;
$serif3: 'Merriweather', serif;
$sans3: 'Merriweather Sans', sans-serif;
$serif4: 'Gilda Display', serif;
$serif5: 'Playfair Display', serif;

$blue: #66C0ED;
$offWhite: #f2f3ee;
$white: #f5f7f6;
$darkWhite: #e8e8e8;
$white2: #e1e1e1;
$light-grey: #666666;
$grey: #414141;
$grey2: #3a3a3a;
$grey3: #2e2e2e;
$black: #1A1A1C;
$darkBlack: #0d0d0d;

$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$bolder: 800;
$boldest: 900;