@import 'assets';

#billboardContainer {
    position: relative;
    height: auto;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 50px;
    background-color: $darkWhite;
    min-height: 80vh;
}

#billboardUnderline {
    height: 2px;
    width: 200px;
    background: $black;
    align-self: center;
    justify-self: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-top: 0;
}
.billboardMainHeader {
    font-family: $serif2;
    font-size: 35px;
    color: $black;
    text-align: center;
    font-weight: 500;
    margin: 10px 0 0 0;
    padding: 0;
    line-height: 35px;
}

.billboardMainPar {
    font-family: $sans;
    font-size: 23px;
    color: $grey2;
    text-align: center;
    width: 80%;
    margin: 20px auto;
}

#contactLink {
    color: $grey2;
    font-size: 1.05em;
    font-weight: 400;
    padding-left: 10px;
    z-index: 10;
}

#contactLink:hover {
    color: $blue;
}

#designBillboards {
    width: 90%;
    margin: 30px auto;
    z-index: 10;
}

.designCarousel {
    width: 100%;
    height: auto;
    z-index: 10;
}
#billboard-carousel {
    width: 90vw;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
    height: auto;
}

@media only screen and (max-width: 900px) {
    #designBillboards {
        width: 98%;
    }
} 