@import 'assets';

#contact-page {
    padding: 80px 0 50px 0;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    width: 95%;
    overflow-x: hidden;
    min-height: 90vh;
}
.contactHeader {
    text-align: center;
    font-family: $serif;
    font-size: 30px;
    padding: 20px;
    color: $black;
    font-weight: 400;
}

.contactText {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    margin-bottom: 20px;
    color: $light-grey;
    font-weight: $light;
    font-family: $sans;
}

#form {
    width: 45%;
    margin: 80px auto 50px auto;
    font-size: 18px;
    padding: 3px;
    margin: 0;
    display: flex;
    flex-flow: column;
}
.form_label {
    padding-top: 7px;
    padding-right: 15px;
    justify-self: baseline;
    align-self: baseline;
    padding-bottom: 0;
    margin-bottom: 0;
    height: 20px;
    width: auto;
    color: $blue;
}

.row {
    width: 100%;
    display: flex;
    flex-flow: row;
    padding-top: 20px;
    margin-bottom: 10px;
    border-bottom: 1px solid $black;
}

.column {
    display: flex; 
    flex-direction: column;
    width: 90%;
    text-align: justify;
    margin-right: auto;
    margin-left: auto;
}



.input {
    width: 90%;
    height: 30px;
    border: none;
    font-size: 15px;
    background: $white;
    color: $black;
}
.input::placeholder {
    color: $black;
}

#form-button {
    margin: 15px auto;
    width: 120px;
    height: 30px;
    font-size: 18px;
    border-radius: 15px;
    border: 1px solid $blue;
    background-color: $white;
    color: $blue;
}
.fa-paper-plane {
    color: $blue;
    padding-right: 5px;
}
#form-button:hover {
    color: $white;
    background: $blue;
    .fa-paper-plane {
        color: $white;
    }
}

.buttonContainer {
    width: 100%;
    display: flex;
}

#formMapContainer {
    display: flex;
    flex-flow: row wrap;
}
.right {
    margin-top: 0;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.number {
    text-align: center;
    font-size: 22px;
    color: $light-grey;
    font-family: $serif;
    margin-bottom: 20px;
    text-decoration: none;
    font-weight: 400;
}
.number:hover {
    color: $blue;
}
.address {
    margin-bottom: 20px;
    text-align: center;
    font-size: 22px;
}
.addressLink {
    text-decoration: none;
    color: $light-grey;
    font-family: $serif;
    font-weight: $normal;
}

.addressLink:hover {
    color: $blue;
}

#map {
    margin-top: 15px;
}

@media (max-width: 1000px) {
    #formMapContainer {
        display: flex;
        flex-direction: column;
    }
    #form {
        width: 100%;
        margin-right: auto;
        margin-left: auto;
    }
    .right {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    #map {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        justify-items: center;
    }
    .buttonContainer {
        margin-bottom: 30px;
    }
}
.mapImg {
    height: 400px;
    width: 550px;
    justify-self: center;
    align-self: center;
}
