@import 'assets';

#footerContainer {
    display: flex;
    flex-flow: row;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
    background: $darkBlack;
    height: 80px;
    width: 100vw;
    bottom: 0;
    position: relative;
}

#facebookFooter {
    height: 40px;
    width: 40px;
    margin: 0 35px;
    position: relative;
}

#mailFooter {
    height: 40px;
    width: 40px;
    margin: 0 35px; 
    position: relative;
}