#homePage {
  width: 100vw;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  margin-left: auto;
  margin-right: auto;
}

#homeTop {
  height: auto;
  top: 0;
  position: relative;
}

.home-top-container {
  width: 100%;
  height: 80vh;
  background: url(../../images/whitfieldCover.jpg);
  background-color: #999999;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  display: flex;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: center;
  align-items: center;
  flex-flow: column;
}
.home-top-container img {
  margin-top: 100px;
  height: 150px;
  width: auto;
  display: block;
}

.home-top-header {
  font-family: "Oxygen", sans-serif;
  color: #f5f7f6;
  font-size: 50px;
  margin-bottom: 30px;
  padding-bottom: 0;
  font-weight: 400;
  margin-top: 150px;
}

.background-video {
  padding: 56.25% 0 0 0;
  position: relative;
}

.home-background-video {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#logo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  z-index: 1;
  margin-top: 150px;
}

.homeLogo {
  height: 205px;
  width: 300px;
  justify-self: center;
  margin: 50px auto 0 auto;
  z-index: 1;
}

#logo a {
  font-family: "Lora", serif;
  font-weight: 300;
  font-size: 30px;
  text-decoration: none;
  color: #f5f7f6;
}

#number {
  font-size: 25px;
  font-family: "Lora", serif;
  font-weight: 300;
  font-size: 30px;
  text-decoration: none;
  color: #f5f7f6;
  margin-top: -50px;
  margin-bottom: 30px;
  position: relative;
  text-align: center;
}

#number:hover {
  color: #66C0ED;
}

.header {
  font-size: 35px;
  position: relative;
  text-align: center;
  color: #f5f7f6;
  font-family: "Vesper Libre", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 60px;
  margin-top: 20px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.header2 {
  font-size: 35px;
  position: relative;
  text-align: center;
  color: #f5f7f6;
  font-family: "Lora", serif;
  font-weight: 300;
  font-size: 60px;
  margin-top: 0;
  padding-top: 0;
}

#homeLogoHolder {
  display: flex;
  flex-flow: row;
  justify-content: center;
  justify-items: center;
  z-index: 1;
}

.homeLogoSmall {
  height: 75px;
  width: 75px;
  background-size: 50px 50px;
  border: 2px solid #f2f3ee;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 10px;
  margin-left: 10px;
  z-index: 1;
  margin-bottom: 10px;
  margin-top: -10px;
}

.homeLink {
  text-decoration: none;
}

#homeWhat {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  justify-items: flex-start;
  align-content: flex-start;
  align-items: flex-start;
  margin: 0;
  padding: 0 0 50px 0;
  background: #e8e8e8;
}

.home-what-header-wrapper {
  width: 100%;
  padding: 50px auto;
  background: #000;
}

.home-what-header {
  font-family: "Lora", serif;
  font-size: 35px;
  color: #f5f7f6;
  text-align: center;
  font-weight: 400;
  padding-bottom: 0;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  margin: 0 auto 75px auto;
}

.home-brand-header-wrapper {
  width: 100%;
  margin: 20px auto 30px auto;
}

.home-brand-header {
  font-family: "Lora", serif;
  font-size: 35px;
  color: #1A1A1C;
  text-align: center;
  font-weight: 300;
  padding-bottom: 0;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  margin: 25px auto;
  background: #e8e8e8;
}

.fa-circle {
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.homePro {
  display: flex;
  flex-flow: column;
  padding: 0 10px 25px 10px;
  width: auto;
  justify-self: center;
  align-self: flex-start;
  z-index: 2;
  text-decoration: none;
}

.homeLogoHolder {
  height: 75px;
  width: 75px;
  border: 2px solid #67BFEC;
  background-color: #f2f3ee;
  border-radius: 50%;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-self: center;
  justify-self: flex-start;
  z-index: 0;
}

.home-what {
  width: 50%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.home-what-column {
  display: flex;
  flex-flow: column;
  width: auto;
  max-width: 400px;
  margin: 10px;
}

#homeProVidLogo {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/video-camera-blue.svg");
}

#homeProAdLogo {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/megaphone-blue.svg");
}

#homeProDesignLogo {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/graphic-design-blue.svg");
}

#homeProBillboardLogo {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/billboard-blue.svg");
}

#homeProLaptopLogo {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/web-blue.svg");
}

#homeProSocialLogo {
  height: 50px;
  width: 50px;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../../images/team-blue.svg");
}

.homePro:hover #homeProVidLogo {
  background-image: url("../../images/video-camera.svg");
  cursor: pointer;
}

.homePro:hover #homeProAdLogo {
  background-image: url("../../images/megaphone.svg");
  cursor: pointer;
}

.homePro:hover #homeProDesignLogo {
  background-image: url("../../images/graphic-design.svg");
  cursor: pointer;
}

.homePro:hover #homeProBillboardLogo {
  background-image: url("../../images/billboard.svg");
  cursor: pointer;
}

.homePro:hover #homeProLaptopLogo {
  background-image: url("../../images/web.svg");
  cursor: pointer;
}

.homePro:hover #homeProSocialLogo {
  background-image: url("../../images/team.svg");
  cursor: pointer;
}

.homePro:hover .homeLogoHolder {
  background-color: #67BFEC;
}

.homeProHead {
  text-align: left;
  font-size: 25px;
  font-weight: 600;
  color: #1A1A1C;
  line-height: 40px;
  margin: 0;
  padding: 0;
  font-family: "Lora", serif;
}

.homeClientHeader {
  font-family: "Lora", serif;
  font-size: 35px;
  color: #1A1A1C;
  text-align: center;
  font-weight: 400;
  padding-bottom: 0;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  display: flex;
  width: 80%;
  margin: 10px auto;
}

.home-what-par {
  text-align: left;
  font-size: 20px;
  font-weight: 300;
  color: #3a3a3a;
  font-family: "Ubuntu", sans-serif;
}

.homeListContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.homeList {
  text-align: center;
  font-size: 20px;
  color: #666666;
  font-weight: 400;
  line-height: 30px;
}

.recentWork {
  background: #595959;
  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.recentWork::before {
  display: block;
  content: "";
  width: 200%;
  height: 100px;
  background: #595959;
  position: absolute;
  left: -10px;
  top: 0px;
  transform: rotate(2deg);
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  z-index: 0;
}

.workHeader {
  font-size: 35px;
  text-align: center;
  font-family: "Work Sans", sans-serif;
  color: #f2f3ee;
  font-weight: 400;
  margin-top: 100px;
  margin-bottom: 40px;
}

#background-video {
  flex-flow: row;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  justify-self: center;
  align-self: center;
}

.arrow {
  height: 50px;
}

#leftArrow {
  float: left;
}

#rightArrow {
  float: right;
}

#background-video iframe {
  display: inline-block;
  width: 80vw;
  height: 500px;
  margin: 10px;
  justify-self: center;
}

#client-holder {
  padding: 30px 0 50px 0;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-content: center;
  background: #ffffff;
}

.client-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 auto;
  background: #f5f7f6;
}

.client-logo {
  display: block;
  width: auto;
  height: auto;
  max-width: 150px;
  max-height: 100px;
  margin: 0 auto;
}

.home-video-holder {
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
  margin: auto;
}

.home-video-header {
  font-family: "Lora", serif;
  font-size: 35px;
  color: #3a3a3a;
  font-weight: 600;
  margin: 0 0 25px 0;
  padding: 0;
  text-align: center;
}

.home-video {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

@media (max-width: 1000px) {
  .home-what {
    width: 45%;
    margin: 20px auto;
    flex-flow: column;
    justify-content: center;
    justify-items: center;
    align-content: center;
    align-items: center;
  }

  .homeProHead {
    text-align: center;
  }

  .home-what-column {
    margin: 5px;
  }

  .home-brand-header {
    font-size: 30px;
    width: 90%;
  }
}
@media only screen and (max-width: 850px) {
  .home-top-container {
    background-size: 120vw auto;
  }
}
@media only screen and (max-width: 750px) {
  .home-what-header {
    font-size: 30px;
    width: 90%;
  }

  .home-top-header {
    font-size: 40px;
  }

  .home-brand-header {
    font-size: 25px;
    width: 95%;
  }
}
@media only screen and (max-width: 725px) {
  .client-holder {
    padding: 10px;
  }
}
@media only screen and (max-width: 650px) {
  .home-top-container {
    background-size: 140vw auto;
    height: 70vh;
  }

  #homeWhat {
    flex-flow: column;
  }

  .home-what-column {
    max-width: 100%;
  }

  #homeProVidLogo {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
  }

  #homeProAdLogo {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
  }

  #homeProDesignLogo {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
  }

  #homeProBillboardLogo {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
  }

  #homeProLaptopLogo {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
  }

  #homeProSocialLogo {
    height: 40px;
    width: 40px;
    background-size: 40px 40px;
  }

  .homeLogoHolder {
    height: 55px;
    width: 55px;
    border: 1 px solid #67BFEC;
  }

  .homeProHead {
    font-size: 23px;
    text-align: center;
  }

  .home-what-par {
    font-size: 18px;
  }

  .home-what {
    width: 80%;
    margin: 0 auto;
    padding: 0;
  }

  .home-what-column {
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
  }

  .home-video-header {
    font-size: 25px;
    margin: 0;
  }
}
@media only screen and (max-width: 575px) {
  .home-what-header {
    font-size: 25px;
  }

  .home-top-header {
    font-size: 35px;
  }
}
@media only screen and (max-width: 450px) {
  .home-top-container {
    height: 60vh;
  }

  .home-video-holder {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 400px) {
  .client-holder img {
    max-width: 75px;
    max-height: 75px;
    padding: 0;
    margin: 0;
  }
}
@media only screen and (max-width: 350px) {
  .home-brand-header {
    font-size: 22px;
  }
}
#clients {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 50px;
  padding-bottom: 50px;
}

#carousel-page {
  position: relative;
  padding-bottom: 0px;
}

/*# sourceMappingURL=home.css.map */
